.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container form{
    box-shadow: -1px 2px 4px 1px #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 550px;
}

.group{
    position: relative;
    margin-bottom: 45px;
}

label{
    position: absolute;
    top: 10px;
    left: 5px;
    transition: all .1s linear;
}

input{
    display: block;
    width: 300px;
    padding:10px 10px 10px 5px;
    border: none;
    border-bottom: 2px solid rgb(39, 168, 108);
}

input:focus{
    outline: none;
}

input:focus ~ label, input:valid ~ label{
    top: -20px;
    font-size: 0.7rem;
    color: rgb(39, 168, 108);
}